body {
    font-family: "Arial", serif;
    display: flex;
    flex: 1;
    flex-flow: column;
    align-items: center;
    margin: 0;
}

.Content {
    height: 1790px;
    width: 1140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#header {
    height: 96px;
    width: 100%;
    display: flex;
    align-items: center;
}

.menu {
    margin-left: auto;
    margin-right: 0;
}

.button {
    padding: 16px 20px;
    border: 1px solid #98A3AE7A;
    border-radius: 8px;

    display: inline;
    font-family: Arial, serif;
    font-size: 14px;
    color: #363E45;
}

#header .button {
    margin-left: 4px;
}

.logo {
    float: left;
}

#about {
    display: flex;
    flex-direction: column;
    height: 614px;
    width: 100%;
}

.about-text {
    height: 174px;
    line-height: 58px;
    margin: 0 0 auto 0;
    font-family: Arial, serif;
    font-size: 48px;
    color: #363E45
}

.Image {

}

.Image.image-about {
    border-radius: 8px;
    margin: auto 0 0 0;
    width: 100%;

}

#experience {
    height: 576px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: Arial, serif;
    font-size: 48px;
    color: #363E45;
}

#experience .exp-header {
    line-height: 48px;
}

#experience .media-menu {
    display: flex;
    height: 48px;
}

#experience .button {
    line-height: 15px;
    margin-right: 8px;
}

#experience .experience-text-pic {
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#experience .experience-pic {
    content: url(img/Image_experience.png);
    object-fit: cover;
    border-radius: 8px;

}

#experience .experience-text {
    width: 554px;
    height: 400px;

    display: flex;
    flex-direction: column;
}

#experience .exp-text-header {
    height: 56px;
    line-height: 24px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#experience .header {
    margin: 0;
    font-size: 20px;
    color: #363E45;
}

#experience .subheader {
    margin: 0;
    font-size: 16px;
    color: #363E45A3;
}

#experience .date {
    margin: 16px 0 8px 0;
    font-size: 16px;
    line-height: 24px;
    color: #363E45;
}

#experience .paragraph {
    margin: 8px 0;
    font-size: 16px;
    line-height: 24px;
    color: #363E45A3;
}

#footer {
    height: 144px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#footer .media-icons {
    width: 192px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    float: left;
}

#footer .year {
    float: right;
    color: #363E45A3;
    font-size: 14px;
}